html {
	background:#e1e1e1;
}

body {
	margin:0;
}

a {
	color:#000;
	text-decoration:none;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
}

nav {
	float:left;
	margin-top: 4px;
	display: block;
	width:960px;
	border-bottom: 1px solid #000;
	padding-bottom:3px;
}

p {
	font-family: arial;
}

#container {
	width:960px;
	margin:0 auto;
	background-color:#fff;
}

ul.nav {
	list-style: none;
	padding: 0;
	color:#000;
}

	ul.nav li {
		display: inline;
		font-family: arial;
		font-size: 1em;
		background-color:#fff;
		color:#000000;
		text-decoration: none;
		padding:20px;
		-webkit-transition: background-color ease .5s;
		transition: background-color ease .5s;
	}

		ul.nav li:hover {
			background-color:#000;
			text-decoration: none;
			color:#ffffff;
		}

			ul.nav li a:hover {
				text-decoration: none;
				color:#ffffff;
			}


#body {
	float:left;
	margin-left:25px;
	margin-right:25px;
}



#footer {
	background:#000000;
	color:#ffffff;
	height:30px;
	clear:both;
	padding-top: 12px;
}

	#footer a{
		list-style: none;
		color:#ffffff;
		font-family:arial;
		font-size:11px;
		letter-spacing: 1px;
		margin-left:25px;
	}
