html {
	background-color: #ebebeb;
}

body {
	margin:0;
}

a {
	color:#f26522;
	text-decoration:none;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
	font-family: arial;
}

nav {
	float:left;
	margin-top: 4px;
	display: block;
	width:960px;
	border-bottom: 1px solid #000;
	padding-bottom:3px;
}

p {
	font-family: arial;
	font-size:13px;
	line-height: 18px;
}

h3 {
	font-family: arial;
	color:#f26522;
}

#container {
	width:960px;
	margin:0 auto;
	background-color:#fff;
}

ul.nav {
	list-style: none;
	padding: 0;
	color:#000;
}

	ul.nav li {
		display: inline;
		font-family: arial;
		font-size: 1em;
		background-color:#fff;
		color:#000000;
		text-decoration: none;
		padding:20px;
		-webkit-transition: background-color ease .5s;
		transition: background-color ease .5s;
	}

		ul.nav li:hover {
			background-color:#f26522;
			text-decoration: none;
			color:#ffffff;
		}

			ul.nav li a:hover {
				text-decoration: none;
				color:#ffffff;
			}

#socialButtons {
	background-color:#000000;
	height:58px;
	width:28px;
	margin:0 auto;
	position: fixed;
	margin-left:960px;
}

#socialButtons img {
	padding-left:5px;
	padding-top: 5px;
	width:61%;
}

#mainContent {
	float:left;
	/* margin-left:25px;
	margin-right:25px; */
}

/* homepage */

#backgroundImage {
	background-image:url(../images/homepage-image.jpg);
	height:651px;
	width:960px;
	background-repeat: no-repeat;
	float:left;
}

#homepageText {
	width:453px;
	margin:25px 0 0 25px;
	float:left;
}

.homeOne {
	font-family: arial;
	font-size:50px;
	color:#f26522;
	font-weight: bold;
}

.homeTwo {
	font-family: arial;
	font-size:46px;
	color:#000000;
}

.homeThree {
	font-family: arial;
	font-size:46px;
	color:#f26522;
	font-weight: bold;
}

.homeFour {
	font-family: arial;
	font-size:43px;
	color:#000000;
	font-weight: bold;
}

.homeFive {
	font-family: arial;
	font-size:46px;
	color:#f26522;
}

#whatAmI {
	margin:10px 0 10px 0;
}

#homeButton {
	margin-top:41px;
}

.homeLink {
	padding:15px;
	background-color:#f26522;
	color:#ffffff;
}
	.homeLink:hover {
	padding:15px;
	background-color:#000000;
	color:#ffffff;
	}

/* about */

#aboutSection {
	width:910px;
	margin:25px 0 0 25px;
}

p .orange {
	color:#f26522;
	font-weight: bold;
	font-size:25px;
}

#hello {
	width:430px;
	float:left;
	margin-right:45px;
	text-align: justify;
}

#hello a {
	color:#f26522;
	-webkit-transition: all ease .5s;
	transition: all ease .5s;
	
}

#iAmCurrently {
	width:430px;
	float:left;
	text-align: justify;
}

#bottomAbout {
	clear:both;
	width:960px;
	height:220px;
	background-color:#feefea;
	margin-top:380px;
}

#quote h3 {
	width:640px;
	text-align: center;
	font-size:38px;
	line-height:50px;
	float:left;
	margin-left:150px;
	margin-top:32px;
}

#iAmCurrently img {
	display: block;
}


/* Resume section */

#resumeSection {
	width:900px;
	margin-bottom:70px;
	margin-left:25px;
}

#resumeSectiontop {
	width:900px;
	margin-bottom:70px;
	margin-left:25px;
	border-top:1px solid #fff;
}

#resumeCategory {
	width:150px;
	float:left;
}

#resumeContent {
	width:620px;
	margin-left:270px;
}

.resumeTitle {
	font-size: 15px;
}


#footer {
	background:#ffffff;
	color:#000000;
	height:30px;
	clear:both;
	padding-top: 12px;
	border-top:1px solid #000000;
}

	#footer a{
		list-style: none;
		color:#000000;
		font-family:arial;
		font-size:11px;
		letter-spacing: 1px;
		margin-left:25px;
	}
